{{#if outcome }}
<h2>{{ outcome }}</h2>
{{/if}} 

<h3>New Invoice Details</h3>
<form method="POST" action="/createinvoice">
  Invoice type 
  <select name="Type">
    <option value="ACCREC">Accounts Receivable</option>
  </select> 
  Contact <input name="Contact" type="text" value="{{customer}}"><br> 
  Date <input name="Date" type="text" value="{{date}}"><br>
  Description <input name="Description" type="text" value="Daily sales for {{customer}}"> 
  Quantity <input name="Quantity" type="number" value="1"> 
  Amount <input name="Amount" type="number" value="{{total}}">
  Dupes <input name="duplicate" type="hidden" value="testdupes">
  <br>
  <input type="submit" value="Submit">
</form>